.App {
  text-align: center;
}

button {
  width:8vh;
  height:8vh;
  margin:1vh;
  background:lightblue;
  border:none;
  border-radius: 1vh;
  font-weight: bold;
  font-size: 2vh;
}

h2 {
  font-size: 10vh;
}